POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=# run: openssl rand --hex 32

KC_BOOTSTRAP_ADMIN_USERNAME=shinyshoe
KC_BOOTSTRAP_ADMIN_PASSWORD=# run: openssl rand --hex 32

KC_DB=postgres
KC_DB_URL=jdbc:postgresql://postgres:5432/keycloak
KC_DB_USERNAME=keycloak
KC_DB_PASSWORD=# run: openssl rand --hex 32

KC_HEALTH_ENABLED=true
KC_METRICS_ENABLED=true

KC_HOSTNAME=localhost# set it to the hostname of the server if its in reverse proxy
KC_HOSTNAME_STRICT=false# set "true" if its in reverse proxy
KC_HOSTNAME_STRICT_HTTPS=false# set "true" if its in reverse proxy
KC_HTTP_ENABLED=true
KC_PROXY_HEADERS=# set "xforwarded" if its in reverse proxy

OIDC_NAME=keycloak
OIDC_CLIENT_ID=
OIDC_CLIENT_SECRET=
OIDC_SCOPES=openid profile email
OIDC_REDIRECT_URI=http://localhost:3000/callback
OIDC_AUTH_URI=http://localhost:8080/realms/NetSec-T-opensmh/protocol/openid-connect/auth
OIDC_TOKEN_URI=http://keycloak:8080/realms/NetSec-T-opensmh/protocol/openid-connect/token
OIDC_API_URI=http://keycloak:8080/realms/NetSec-T-opensmh/protocol/openid-connect/token/introspect